.table__body {
    background-color: rgba(255, 255, 255, 0.7333333333);
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
	&::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: .5rem;
		background-color: #0004;
		visibility: hidden;
	}
	&:hover {
		&::-webkit-scrollbar-thumb {
			visibility: visible;
		}
	}
}
table {
	width: 100%;
	border-collapse: collapse;
	padding: 1rem;
	text-align: left;
    table-layout: fixed;
    word-wrap: break-word;
    th,
    td {
        padding: 10px;
        border: 1px solid #ccc;
    }
    thead {
        th {
            position: sticky;
            top: 0;
            left: 0;
            background-color: #000;
            cursor: pointer;
            color: #fff;
            text-transform: capitalize;
            border-collapse: collapse;
            padding: 1rem;
            text-align: left;
            font-size: 12px;
        }
    }
    tbody {
        tr {
            &:nth-child(even) {
                background-color: #0000000b;
            }
            --delay: .1s;
            transition: .5s ease-in-out var(--delay), background-color 0s;
            td {
                font-size: 12px;
                transition: .2s ease-in-out;
                &.high-price {
                    color: green;
                    font-weight: bold;
                }
            
                &.low-price {
                    color: red;
                    font-weight: bold;
                }
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    transition: .2s ease-in-out;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
	td {
		&:not(:first-of-type) {
			min-width: 12.1rem;
		}
	}
}

@media only screen and (max-width: 768px) {
    table {
      font-size: 12px;
  
      th,
      td {
        padding: calc(10px / 2);
      }
    }
  
    .container {
      padding: calc(20px / 2);
    }
  
    img {
      width: calc(50px / 1.5);
      height: calc(50px / 1.5);
    }
  
    .symbol {
      font-size: calc(1.5em / 1.5);
    }
  }